@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --fundo-azul: #0062be;
    --fundo-vermelho: #e60c2c;
    --fundo-preto: #1e1e1e;
    --fonte-branco: #fff;
    --fonte-botao: #111;
    --fonte-padrao: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}

.secao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: var(--fundo-azul);
    padding: 20px 100px;
}

.secao header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 100px;
    width: 100%;
}

.logo {
    max-width: 80px;
    position: relative;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    list-style: none;
    margin-left: 40px;
}

header li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--fonte-branco);
}

header li a:hover {
    border-bottom: 2px solid var(--fonte-branco);
}

.conteudo-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 20px 100px;
}

.textoBox {
    max-width: 600px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.textoBox h1 {
    color: var(--fonte-branco);
    font-size: 4em;
    text-transform: uppercase;
    line-height: 1.5em;
    font-weight: 900;
}

.textoBox span {
    font-size: 2em;
}

.textoBox p {
    color: var(--fonte-branco);
    font-weight: 400;
    margin-bottom: 40px;
}

.textoBox a {
    color: var(--fonte-botao);
    text-decoration: none;
    background: var(--fonte-branco);
    border-radius: 40px;
    padding: 8px 40px;
    text-transform: uppercase;
    font-weight: 700;
}

.conteudoBox .boxImg {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
    width: 600px;
}

.conteudoBox .boxImg img {
    max-width: 260px;
}

.thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

.thumb li {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    cursor: pointer;
    list-style: none;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    max-width: 50px;
}
